<a href="https://colab.research.google.com/github/krissemmy/Hamoye-Stage_B-Quiz/blob/main/Machine_Learning_Regression_predicting_energy_efficiency_of_buildings_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [33]:
df = pd.read_csv("/content/energydata_complete.csv")

In [34]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [36]:
# Remove columns 'date' and 'lights'
df = df.drop(["date", "lights"], axis=1)

#Scaling
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalized_df.drop(columns=['Appliances'])
target = normalized_df['Appliances']

# Reshaping the data
x= features_df['T2'].values.reshape(-1,1)
y = features_df['T6'].values.reshape(-1,1)
print(x)
print()
print(y)

[[0.22534529]
 [0.22534529]
 [0.22534529]
 ...
 [0.69265118]
 [0.67705355]
 [0.66617051]]

[[0.3810702 ]
 [0.37544268]
 [0.36748654]
 ...
 [0.86426042]
 [0.82952506]
 [0.78858002]]

In [37]:
#Question 12

# From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2)
# and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

model = LinearRegression()
model.fit(X, y)

r2_value = r2_score(y, model.predict(X))
r2_value = round(r2_value, 2)  # Round to two decimal places

print("R^2 value:", r2_value)

R^2 value: 0.64

In [38]:
#Question 13
#Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”].
# The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility).
# Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

#What is the Mean Absolute Error (in two decimal places)?


# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate the mean absolute error
mae = mean_absolute_error(y_test, y_pred)

# Print the mean absolute error rounded to 2 decimal places
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 0.08

In [39]:
#question 14

# Calculate the residuals
residuals = y_test - y_pred

# Calculate the residual sum of squares
rss = np.sum(residuals**2)

# Print the residual sum of squares rounded to 2 decimal places
# print(f"Residual Sum of Squares: {rss:.2f}")

rss = np.sum(np.square(residuals))
round(rss, 2)

66.12

In [40]:
r2 = r2_score(y_test, y_pred)
r2

0.6427789637197382

In [41]:
# Question 15
# What is the Root Mean Squared Error (in three decimal places)?

rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,3)

0.106